<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The IT Leader</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <img class="logo" src="images/paul3.png" alt="Paul's Logo">
      <div id="main-header-div">
        <h1 id="main-header">KAIZEN IT THOUGHTS</h1>
      </div>
      <div class="header-right">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="contact.html">CONTACT</a>
      </div>
    </div>
    <form class="nice-form" action="" method="post">
      <fieldset>
        <legend>Contact Paul</legend>
        <label for="fname">First Name</label>
        <input type="text" name="fname" autofocus>
        <label for="lname">Last Name</label>
        <input type="text" name="lname" autofocus>
        <label for="email">Email</label>
        <input type="email" name="email" autofocus>
        <label for="textarea">Message</label>
        <textarea name="textarea" rows="8" cols="40" autofocus></textarea>
        <input type="submit" name="submit" value="Submit">
      </fieldset>
    </form>
